# Gitignore for Raku (https://raku.org)
# precompiled files
.precomp
lib/.precomp

# personal additions
.DS_store
reconst/*.json
miscdev

# JSON files frequently generated in /reconst for testing
#  if to be kept, they should be moved to /demo
